@import "mixin";
@import "reset";
@import "media";
#red{
  .red{
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &--navbar{
      img{
        margin-left: 190px;
      }
      h1{
        font-family: 'Poppins',sans-serif;
        font-style: normal;
        font-size: 36px;
        line-height: 54px;
        text-align: center;
        color: #FFFFFF;
        padding: 30px 0;
      }
      input{
        background: #FFFFFF;
        border-radius: 15px;
        width: 495px;
        height: 63px;
        padding-left: 20px;
        box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.26), -10px -10px 24px rgba(0, 0, 0, 0.26);
      }
      &__horrol{
        input{
          margin: 20px 0;
          background: #FFFFFF;
          border-radius: 15px;
          width: 500px;
          height: 63px;
          padding-left: 20px;
          box-shadow: 10px 10px 18px rgba(0, 0, 0, 0.26), -10px -10px 24px rgba(0, 0, 0, 0.26);
          input::placeholder{
            color: #1a1a2f;
          }

        }




        &--btn{
          padding: 30px 0;
          text-align: center;
          button{
            box-shadow: 10px 10px 18px rgba(255, 255, 255, 0.15), -10px -10px 24px rgba(255, 255, 255, 0.13);
            background: linear-gradient(180deg, rgba(13,17,68,0.53) -21.43%, rgba(255, 255, 255, 0.51) 123.66%);
            color: #FFFFFF;
            padding: 9px 89px;
            cursor: pointer;
            transition: .4s;
            font-size: 24px;
            line-height: 36px;
            border-radius: 15px;
            &:hover{
              transform: scale(1.1);
              border: 1px solid black;
              background: rgba(26, 92, 255, 0.87);
            }
          }

        }

      }
      a {
        margin-left: 154px;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        text-decoration-line: underline;
        color: #9099A3;
        padding: 5px 0;

      }

    }

  }
}